body {
    margin: 0;
    padding: 0;
  }

.logo {
    font-family: Arial; 
    font-weight: bold;
    display: flex; 
    /*자식 요소들을 flex아이템으로 만듦 (자식들을 가로 방향으로 나란히 배치)*/
    flex-wrap: nowrap;
    /*아이템들이 한줄에 억지로 다 들어가도록 강제(대신찌그러짐)*/
}
.parallelogram {
    background-color: white;
    border: 0.15rem solid rgb(0, 112, 192);
    width: 9rem;
    height: 5.2rem;
    transform: skewX(-36deg);
    /*요소를 x축 음수값(왼쪽) 방향으로 기울임*/
    margin-left: 1.875rem;
    margin-bottom: -3.2rem;
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    /*아이템들을 가로 기준 가운데로 모아줌*/
    align-items: flex-start;
    /*세로 위쪽 정렬*/
    /*둘이 같이 쓰면 수평 센터, 수직 상단*/
}
@media(max-width: 1024px) {
    .parallelogram {
        width: 7.4rem;
        height: 4rem;
        margin-left: 1.6rem;
        margin-bottom: -2.8rem;
        margin-top: 0.7rem;
    }
}
.parallelogram-text-wrapper {
    transform: skewX(36deg); 
    height: 100%;
    /*부모 요소의 높이를 100%그대로 채움*/
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 2.7rem;
    /*박스크기는 부모의 100%지만 글자크기는 별개*/
    font-weight: bolder;
    margin-top: 0.25rem;
}
@media(max-width: 1024px) {
    .parallelogram-text-wrapper {
        font-size: 2.4rem;}
}
.parallelogram span.wj-black{
    /*
    .parallelogram안에 있는 wj-black클래스의 <span>태그에 적용. 
    .parallelogram 밖의 wj-black에는 적용없음
    */
    color: black;
}
.parallelogram span.c-red {
    color: red;
}
.blue-rectangle {
    background-color: rgb(0, 112, 192);
    height: 5rem;
    display: flex;
    align-items: center;
    color:rgb(247, 247, 247);
    border-radius: 0.07em;    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}
@media (max-width: 1024px) {
    .blue-rectangle {
        height: 4.5rem;

    }
}
.company-name {
    font-size: 2.3rem;
    font-weight: bolder;
    margin-left: 10rem;
    padding-bottom: 0.7rem;
}
@media(max-width: 1024px) {
    .company-name {
        margin-left: 7.7rem;
        font-size: 2.2rem;
    }
}
.menu-button {
    background-color: transparent;
    /*메뉴버튼의 배경색을 투명하게(파란색으로)*/
    cursor: pointer;
    /*내용물이나 부모에 맞게 크기를 자동으로 결정*/
    padding: 0.5rem 1rem;
    /*안쪽 여백을 위아래 0.5, 좌우 1으로 설정*/
    font-family: arial;
    font-size: 1.3rem;
    border: none;
    transition: all 0.3s ease;
    font-weight: 500;
    color: white;
    border-bottom: 0.13rem solid transparent;
    white-space: nowrap;
    writing-mode: horizontal-t;
    display: none;
    margin-left: 2rem;
}
.menu-button:hover {
    border-bottom: 0.13rem solid white
}
.hamburger-button {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 0.9rem;
    margin-left: auto;
}
.hamburger-button span {
    display: block;
    width: 1.5rem;
    height: 0.25rem;
    background-color: white;

}
@media(min-width: 1024px){
    .hamburger-button {
        display: none !important;
    }
}
.mobile-menu {
    display: none;
    flex-direction: column;
}
.mobile-menu.open {
    display: flex;
}
@media(min-width: 1024px) {
    .menu-button {
        display: block;
    }
    .mobile-menu.open {
        display: none !important;
    }
}